<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solmarket.mapper.AdminMapper">
	<!-- INDEX 페이지, 장터신청 리스트 -->
	<select id="getRequestMarketList" resultType="com.solmarket.dto.MarketDTO">
		select market_name as marketName, market_loc as marketLoc, user_name as dummy
		from market m left outer join (select user_no, user_name from myUser) u on m.user_no = u.user_no
		where market_status = 0 order by market_no desc
	</select>
	
	<!-- INDEX 페이지, 공지사항 리스트 -->
	<select id="getRequestNoticeList" resultType="com.solmarket.dto.NoticeDTO">
		select notice_title as noticeTitle, notice_Date as noticeDate, market_name as dummy
		from notice n left outer join (select market_no, market_name from market) m on n.market_no = m.market_no
		where notice_status = 0 order by notice_no desc
	</select>
	
	<!-- INDEX 페이지, 회원 비율 -->
	<select id="getUserRatio" resultType="string">
		select (select count(*) from myuser where user_auth = 'USER') || '/' || 
		(select count(*) from myuser where user_auth = 'SELLER') || '/' || 
		(select count(*) from myuser where user_auth = 'MANAGER') as data from dual
	</select>

	<!-- 회원관리 > 전체회원 리스트 출력 -->
	<select id="getUserList" resultType="com.solmarket.dto.UserDTO">
		select * from (select rownum as pagingNum, userList.* from 
			(select user_no as userNo , user_Auth as userAuth, user_Id as userId, user_Name as userName, user_Mail as userMail, user_Ver as userVer, user_Status as userStatus from myuser <if test="keyword != null"> where user_auth = #{keyword}</if> order by user_ver desc, user_no desc)
		userList where rownum <![CDATA[ <= ]]> (#{pageNum} * #{amount})) where pagingNum > ((#{pageNum} - 1) * #{amount})
	</select>
	
	<select id="getUserCount" resultType="Integer">
		select count(*) from myuser <if test="keyword != null"> where user_auth = #{keyword}</if>
	</select>
	
	<select id="getUserDetail" resultType="com.solmarket.dto.UserDTO">
		select user_no as userNo, user_id as userId, user_name as userName, user_mail as userMail, user_profile as userProfile, user_PF as userPF, user_status as userStatus, user_auth as userAuth, user_phone as userPhone, user_address as userAddress
		from myUser where user_no = #{userNo}
	</select>
	
	<delete id="deleteUserData">
		delete from myuser where user_no = #{userNo}
	</delete>
	
	<!-- 장터 신청 관리 -->
	<select id="getreqMakretList" resultType="com.solmarket.dto.MarketDTO">
		select * from (select rownum as pagingNum, marketList.* from
			(select market_no as marketNo, market_name as marketName, user_name as dummy, market_loc as marketLoc, market_sd as marketSD, market_ed as marketED from market m left outer join myuser u on m.user_no = u.user_no where market_status = 0) marketList
		where rownum <![CDATA[ <= ]]> (#{pageNum} * #{amount})) where pagingNum > ((#{pageNum} - 1) * #{amount})
	</select>
	
	<select id="getMarketCount" resultType="Integer">
		select count(*) from market where market_status = 0
	</select>
</mapper>