<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solmarket.mapper.AttachMapper">	

	<!-- ====================== 회원 프로필 이미지 삽입 ====================== --> 
	<insert id="userInsertImg">
		insert into user_img values(#{uuid}, #{uploadPath}, #{fileName}, #{no})
	</insert>

	<!-- ====================== 장터 등록 시 장터 이미지 삽입 ====================== --> 
	<insert id="insertMarketImg">
		INSERT INTO market_img values(#{uuid}, #{uploadPath}, #{fileName}, #{no})
	</insert>
	
	<!-- ====================== 장터 승인 후 셀러 모집 이미지 삽입 ====================== --> 
	<insert id="insertRecruitImg">
		INSERT INTO recruit_img values(#{uuid}, #{uploadPath}, #{fileName}, #{no})
	</insert>
	
	<!-- ================= 장터 이미지 불러오기 ================= -->
	<select id="selectMarketImg" resultType="com.solmarket.dto.AttachDTO">
		SELECT uuid, uploadpath as uploadPath, filename as fileName, market_no as no FROM market_img WHERE market_no = #{marketNo}
	</select>
	
	<!-- ================= 상품 이미지 불러오기 ================= -->
	<select id="selectProductImg" resultType="com.solmarket.dto.AttachDTO">
		SELECT uuid, uploadpath as uploadPath, filename as fileName, product_no as no FROM product_img WHERE product_no = #{productNo} AND market_no = #{marketNo}
	</select>
	
</mapper>