<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solmarket.mapper.AttachMapper">	

	<!-- ====================== 회원 프로필 이미지 삽입 ====================== --> 
	<insert id="userInsertImg">
		insert into user_img values(#{uuid}, #{uploadPath}, #{fileName}, #{no})
	</insert>

	<!-- ====================== 장터 등록 시 장터 이미지 삽입 ====================== --> 
	<insert id="insertMarketImg">
		INSERT INTO market_img values(#{uuid}, #{uploadPath}, #{fileName}, #{no})
	</insert>
	
	<!-- ====================== 장터 승인 후 셀러 모집 이미지 삽입 ====================== --> 
	<insert id="insertRecruitImg">
		INSERT INTO recruit_img values(#{uuid}, #{uploadPath}, #{fileName}, #{no})
	</insert>
	
	<select id="getImg" resultType="com.solmarket.dto.AttachDTO">
		SELECT uuid, uploadPath as uploadPath, filename as fileName, 
		<choose>
			<when test="section == 'user'">
				user_no as no from user_img where user_no = #{no}
			</when>
			<when test="section == 'product'">
				product_no as no from product_img where product_no = #{no}
			</when>
			<when test="section == 'market'">
				market_no as no from market_img where market_no = #{no}
			</when>
			<when test="section == 'recruit'">
				recruit_no as no from recruit_img where recruit_no = #{no}
			</when>
			<when test="section == 'notice'">
				notice_no as no from notice_img where notice_no = #{no}
			</when>
			<when test="section == 'board'">
				board_no as no from board_img where board_no = #{no}
			</when>
		</choose>
	</select>
	
	<insert id="insertImg">
		insert into 
			<choose>
				<when test="section == 'user'">
					user_img
				</when>
				<when test="section == 'product'">
					product_img
				</when>
				<when test="section == 'market'">
					market_img
				</when>
				<when test="section == 'recruit'">
					recruit_img
				</when>
				<when test="section == 'notice'">
					notice_img
				</when>
				<when test="section == 'board'">
					board_img
				</when>
			</choose>
		values (#{attach.uuid}, #{attach.uploadPath}, #{attach.fileName}, #{attach.no})
	</insert>
	
	<!-- ================= 장터 이미지 불러오기 ================= -->
	<select id="selectMarketImg" resultType="com.solmarket.dto.AttachDTO">
		SELECT uuid, uploadpath as uploadPath, filename as fileName, market_no as no FROM market_img WHERE market_no = #{marketNo}
	</select>
	
	<!-- ================= 상품 이미지 불러오기 ================= -->
	<select id="selectProductImg" resultType="com.solmarket.dto.AttachDTO">
		SELECT uuid, uploadpath as uploadPath, filename as fileName, product_no as no FROM product_img WHERE product_no = #{productNo} AND market_no = #{marketNo}
	</select>
	
</mapper>